@charset "utf-8";

.brand_text {position:relative;text-align:center;font-weight:300;font-size:12px;color:#393939;}
.brand_text strong {font-weight:600;color:#000;}
.brand_text strong span {color:#e63312;}

/* 공통 prev & next */
.portfolio .bx-controls-direction a,
.concept .bx-controls-direction a {position:absolute;width:25px;height:25px;background:rgba(57,57,57,0.7) url("../images/arr_prev3.png") no-repeat center;background-size:30%;z-index:10;font-size:0;text-indent:-9999px;}
.portfolio .bx-controls-direction .bx-next,
.concept .bx-controls-direction .bx-next {right:0;background-image:url("../images/arr_next3.png");}
.portfolio .bx-controls-direction .bx-prev,
.concept .bx-controls-direction .bx-prev {left:0;}

/* brand visual */
.barnd_visual {position:relative;}
.barnd_visual:after {content:"";position:absolute;left:0;top:0;width:100%;height:243px;background:url("../images/bg.png") repeat-x 0 0;}
.barnd_visual .text_area {position:absolute;top:30%;left:6%;z-index:10;}
.barnd_visual .text_area .text_sm {font-weight:400;}

/* N Performance */
.performance .img {margin-top:5%;}

/* N Line up P ortfolio */
.portfolio .brand_text span {position:relative;}
.portfolio .brand_text span:before {position:absolute;top:-12px;left:-20px;content:"";display:inline-block;width:22px;height:12px;background:url("../images/brand/text_point_m_01.png") no-repeat 0 0;background-size:cover;}
.portfolio .brand_text span:after {position:absolute;right:-20px;bottom:-10px;content:"";display:inline-block;width:22px;height:12px;background:url("../images/brand/text_point_m_02.png") no-repeat 0 0;background-size:cover;}
.portfolio .img_title {text-align:center;font-size:12px;color:#393939;}
.portfolio .img {margin-top:5%;}
.portfolio .text_area {margin-bottom:20px;text-align:center;}
.portfolio .inner .text_area {margin-top:8%;margin-bottom:5%;}
.portfolio .inner .text_area .text_md {font-size:18px;color:#000;font-weight:600;}
.portfolio .inner .text_area .text_sm {margin-top:3%;font-size:11px;color:#393939;font-weight:300;}
.portfolio .slider {position:relative;}
.portfolio .bx-caption {height:32px;line-height:32px;text-align:center;color:#fff;font-size:11px;font-weight:300;background:#333333;}
.portfolio .bx-controls {margin-top:4%;text-align:center;}
.portfolio .bx-controls-direction a {top:50%;margin-top:-30px;}
/* pager */
.portfolio .bx-pager {margin-left:5px;display:inline-block;}
.portfolio .bx-pager .bx-pager-item {display:inline-block;}
.portfolio .bx-pager .bx-pager-item + .bx-pager-item {margin-left:5px;}
.portfolio .bx-pager .bx-pager-item a {display:block;width:8px;height:8px;background:url("../images/pager.png") no-repeat 0 0;font-size:0;text-indent:-9999px;background-size:7px 8px;}
.portfolio .bx-pager .bx-pager-item a.active {background-image:url("../images/pager_active.png");}
/* start & stop */
.portfolio .bx-controls-auto {display:inline-block;position:relative;}
.portfolio .bx-controls-auto-item {display:inline-block;}
.portfolio .bx-controls-auto-item a {left:0;top:0;display:block;width:8px;height:8px;background:url("../images/icon_strat.png") no-repeat 0 0;font-size:0;text-indent:-9999px;background-size:7px 8px;}
.portfolio .bx-controls-auto-item .bx-stop {background-image:url("../images/icon_stop.png");}
.portfolio .bx-start.active {display:none;}
.portfolio .bx-stop.active {display:none;}

/** concept **/
.concept {margin-top:10%;}
.concept .concept_title {padding:3% 0;position:relative;background:url("../images/brand/brand_img_m_04.jpg") no-repeat 0 0;background-size:cover;}
.concept .concept_title .text_area {width:100%;text-align:center;vertical-align:middle;}
.concept .concept_title .text_lg {font-size:28px;color:#000;font-weight:600;}
.concept .concept_title .brand_text {margin-top:2.5%;}
.concept .paris, .concept .seoul {margin:0 auto;}
.concept .paris .main_heading, .concept .seoul .main_heading {margin-bottom:4%;}
.concept .paris .brand_text, .concept .seoul .brand_text {font-weight:400;}
.concept .slider {margin-top:5%;position:relative;}
.concept .slider img {width:100%;}
.concept .slider .paris_list li {float:left;}
.concept .slider .seoul_list li {float:left;}
.concept .slider .counter {position:absolute;right:4%;bottom:4%;width:30px;height:30px;border-radius:30px;line-height:30px;background:rgba(0,0,0,0.7);text-align:center;font-family:"Malgun Gothic", "맑은 고딕", sans-serif;font-size:11px;color:#fff;}
.concept .bx-controls-direction a {top:50%;margin-top:-13px}
